.title-page-search {
  text-align: center;
  padding: 10px;
}

.label-search {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.title-search {
  color: rgb(21, 46, 80);
}

.collection-content {
  margin: 5px;
  display: flex;
  background-color: rgb(21, 46, 80);
  width: 200px;
  height: 250px;
  box-shadow: 5px 5px rgb(42, 58, 82);
}

.flex-collection {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection-content a {
  color: aliceblue;
}

.result-search img {
  width: 100px;
}

.result-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5%;
}

.search-forms-content {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.title-search-notfound {
  text-align: center;
  color:  rgba(32, 53, 82, 0.849);
}

.collection-artist {
  padding: 5px;
  font-size: small;
}

.collection-name {
  padding: 10px;
  font-size: large;
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; 
}